# **Varible**

In [1]:
# string
nama = 'Sasuke'
umur = '25'

In [2]:
nama

'Sasuke'

In [3]:
type(nama)

str

In [4]:
umur

'25'

In [5]:
umur = 25

In [6]:
type(umur)

int

In [8]:
jomblo = True

In [9]:
type(jomblo)

bool

In [10]:
# float
phi = 3.14

In [11]:
type(phi)

float

### Case 1

Buat sebuah variable `nama` dan `NRP` teman-teman lalu panggil di dalam jupyter-notebook!

In [23]:
nama = 'Angellieqque Karadeit'
NIM =201440042

In [24]:
nama

'Angellieqque Karadeit'

In [22]:
NIM

201440042

In [19]:
print("nama:" + nama)
print("NIM:" + str(NIM))

nama:Angel
NIM:201440042

### Case 2

Konversi program untuk memanggil variable `name` dan `NRP` yang sudah dibuat dalam jupyter-notebook ke file python atau `*.py` dengan nama file `variable.py`!

# **Arithmetic Operation**

In [25]:
a = 10
b = 5

a + b

15

In [26]:
c = a + b

In [27]:
c

15

c = c + 1

In [28]:
c += 1

In [29]:
c

16

In [30]:
c -= 5

In [31]:
c

11

In [32]:
e = 40
f = 20

print(e * f)
print(e / f)
print(e + f)
print(e - f)
print(e % f)
print(e ** 2)

800
2.0
60
20
0
1600

### Case 3

Konversi perhitungan **Luas** dan **Keliling** balok menjadi sebuah program yang berjalan di jupyter-notebook!

![title](https://rumusrumus.com/wp-content/uploads/2015/05/jawaban-soal-matematika-balok.png)

In [33]:
panjang = 500
lebar = 5
tinggi = 10

In [34]:
volume = panjang * lebar * tinggi
volume

25000

In [45]:
keliling = 4 * (panjang + lebar + tinggi)
keliling

2060

In [41]:
luas = 2 * (panjang * lebar + panjang * tinggi + lebar * tinggi)
luas

15100

### Case 4

Konversi perhitungan luas dan keliling yang sebelumnya berjalan di jupyter-notebook menjadi sebuah file python atau `*.py` dengan nama masing-masing file `volume.py` dan `keliling.py`!

# **Tuple**

In [1]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )

print("Print all tuple1: ", tup1)
print("Print all tuple2: ", tup2)
print("Print tuple1 element-0: ", tup1[0])
print("Print tuple1 element-1 until 5: ", tup2[1:5])
print("Join two tuple: ", tup1 + tup2)

Print all tuple1:  ('physics', 'chemistry', 1997, 2000)
Print all tuple2:  (1, 2, 3, 4, 5, 6, 7)
Print tuple1 element-0:  physics
Print tuple1 element-1 until 5:  (2, 3, 4, 5)
Join two tuple:  ('physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5, 6, 7)

In [2]:
tup1[1]

'chemistry'

In [3]:
len(tup1)

4

In [4]:
tup1[3]

2000

# **List**

In [5]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

print("Print all list: ", list1)
print("Print list element-0: ", list1[0])
print("Print list element-1: ", list1[1])
print("Print list element-1 until 3: ", list1[1:3])
print("Print list element-1 until 4: ",list1[1:4])
print("Print list element-2 until end: ",list1[2:])
print("Print list twice: ",list2 * 2)
print("Join two list: ", list1 + list2, "\n")

Print all list:  ['physics', 'chemistry', 1997, 2000]
Print list element-0:  physics
Print list element-1:  chemistry
Print list element-1 until 3:  ['chemistry', 1997]
Print list element-1 until 4:  ['chemistry', 1997, 2000]
Print list element-2 until end:  [1997, 2000]
Print list twice:  [1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]
Join two list:  ['physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5, 6, 7]

In [6]:
print("Print list element-1 until 4:  ",[list1[1:4]])

Print list element-1 until 4:   [['chemistry', 1997, 2000]]

### Case 5

Uncomment cell dibawah ini lalu kemudian eksekusi dan amati perbedaanya!

List:

In [7]:
list1[1] = 'math'

In [8]:
list1[1]

'math'

In [9]:
list1

['physics', 'math', 1997, 2000]

Tupple:

In [10]:
# tup1[1] = 'math'

In [11]:
tup1[1]

'chemistry'

In [12]:
tup1

('physics', 'chemistry', 1997, 2000)

Simpulkan dan jawab pada sel dibawah ya! dan jangan lupa cell dibawah diganti ke format MD atau Markdown.

Tuple bersifat immutable, yang berarti elemen-elemennya tidak dapat diubah setelah tuple dibuat. 
List bersifat mutable, yang berarti elemen-elemennya dapat diubah setelah list dibuat.

# **String**

In [13]:
g = 'Sasuke pergi ke pasar'

print(len(g))
print(g.split(' '))
print(g.lower())
print(g.upper())

21
['Sasuke', 'pergi', 'ke', 'pasar']
sasuke pergi ke pasar
SASUKE PERGI KE PASAR

In [14]:
sasuke_do = 'sasuke, tolong ambilkan buah nanas!'
sasuke_do.split(",")

['sasuke', ' tolong ambilkan buah nanas!']

In [15]:
len(sasuke_do.split(","))

2

In [16]:
sasuke_do.split(",")[1]

' tolong ambilkan buah nanas!'

In [17]:
type(sasuke_do.split(","))

list

In [18]:
type(sasuke_do.split(",")[1])

str

### Case 6

Buat sebuah variable yang berisi string perkenalan nama dan umur, misal:

"Halo.. Nama saya sasuke, saya berusia 17 tahun!"

Print variable tersebut dan split menjadi sebuah list kemudian print juga yang versi List!

In [19]:
perkenalan = "Halo.. Nama saya Sasuke, saya berusia 17 tahun!"

print(len(perkenalan))
print(perkenalan.split(' '))
print(perkenalan.lower())
print(perkenalan.upper())

47
['Halo..', 'Nama', 'saya', 'Sasuke,', 'saya', 'berusia', '17', 'tahun!']
halo.. nama saya sasuke, saya berusia 17 tahun!
HALO.. NAMA SAYA SASUKE, SAYA BERUSIA 17 TAHUN!

In [20]:
sasuke = 'Halo.. Nama saya Sasuke, saya berusia 17 tahun!'
sasuke.split(",")

['Halo.. Nama saya Sasuke', ' saya berusia 17 tahun!']

In [21]:
len(sasuke.split(","))

2

In [22]:
sasuke.split(",")[1]

' saya berusia 17 tahun!'

In [23]:
type(sasuke.split(","))

list

In [24]:
type(sasuke.split(",")[1])

str

### **Convert String to Number**

In [25]:
h = '25'
i = int(h)

print(type(h))
print(i)
print(type(i))

<class 'str'>
25
<class 'int'>

In [26]:
usia = '10'
type(usia)

str

In [27]:
usia = int(usia)
usia

10

### Case 7

Convert umur dalam List yang sebelumnya dibuat dan tersimpan dalam **Case 6** menjadi sebuah integer!

In [45]:
sasuke_perkenalan = 'Hallo.. Nama saya sasuke, saya berusia 17 tahun'
sasuke_perkenalan = sasuke_perkenalan.split(" ")
sasuke_perkenalan

['Hallo..', 'Nama', 'saya', 'sasuke,', 'saya', 'berusia', '17', 'tahun']

In [46]:
type(sasuke_perkenalan[6])

str

In [47]:
sasuke_perkenalan[6] = int(sasuke_perkenalan[6])
sasuke_perkenalan

['Hallo..', 'Nama', 'saya', 'sasuke,', 'saya', 'berusia', 17, 'tahun']

In [48]:
type(sasuke_perkenalan[6])

int

### Case 8

Convert **Case 6** dan **Case 7** menjadi sebuah program python dengan nama `list_string.py`!

# **Math Module**

In [49]:
import math

print(round(6.4))
print(round(6.8))
print(math.floor(6.8))
print(math.ceil(6.8))

6
7
6
7

In [50]:
num1 =2**2
num1

4

In [51]:
math.sqrt(num1)

2.0

### Case 9

![title](https://akupintar.id/documents/portlet_file_entry/20143/2+%284%29.png/d8907cd9-a23e-b777-4594-f3355af498cb?imagePreview=1)

Konversi perhitungan pytagoras berikut menjadi sebuah program yang berjalan di jupyter-notebook dan convert menjadi sebuah program python dengan extension `*.py` dengan nama `math_module_example`!

# **Dictionary**

+ jumlahnya 1: `{'key': value}`
+ jumlahnya lebih dari 1: `{'key1': value1, 'key2': value2, 'key3': {'key3.1': value31, 'key3.2': value32}}`

In [52]:
dict1 = {}
dict1['one'] = "This is one"
dict1[2] = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': {'pos': 'sales', 'pos': 'engineering'}}

print("Print dictionary on dict1['one']: ", dict1['one'])
print("Print dictionary on dict1[2]: ",dict1[2])
print("Print dictionary on dict1: ", dict1)
print("Print dictionary on tinydict: ", tinydict)
print("Print tinydict dictionary keys: ", tinydict.keys())
print("Print tinydict dictionary values: ", tinydict.values(), "\n")

Print dictionary on dict1['one']:  This is one
Print dictionary on dict1[2]:  This is two
Print dictionary on dict1:  {'one': 'This is one', 2: 'This is two'}
Print dictionary on tinydict:  {'name': 'john', 'code': 6734, 'dept': {'pos': 'engineering'}}
Print tinydict dictionary keys:  dict_keys(['name', 'code', 'dept'])
Print tinydict dictionary values:  dict_values(['john', 6734, {'pos': 'engineering'}])

In [53]:
dict1

{'one': 'This is one', 2: 'This is two'}

In [54]:
tinydict

{'name': 'john', 'code': 6734, 'dept': {'pos': 'engineering'}}

### Case 10

Buat sebuah data diri teman-teman ke sebuah dictionary dan print di jupyter notebook, Contoh:

```
{
    'nama': 'sasuke uchiha',
    'nim': 2221100025,
}
```

In [70]:
data_diri = {}
data_diri['nama'] = 'Sasuke Uchiha'
data_diri['nim'] = 2221100025
print("Data Sasuke: ", data_diri)
print("Key dictionary: ", data_diri.keys())
print("Value dictionary: ", data_diri.values())

Data Sasuke:  {'nama': 'Sasuke Uchiha', 'nim': 2221100025}
Key dictionary:  dict_keys(['nama', 'nim'])
Value dictionary:  dict_values(['Sasuke Uchiha', 2221100025])

Lakukan penambahan key dan value dengan urutan sebagai berikut:
+ `'alamat': 'jl. Madara no. 10, Konohagakure, Hi no Kuni'`
+ `'usia': 17`

In [68]:
data_diri = {}
data_diri['nama'] = 'Sasuke Uchiha'
data_diri['nim'] = 2221100025
data_diri['alamat'] = 'Jl. Madara No. 10, Konohagakure, Hi no Kuni'
data_diri['usia'] = 17
print("Data Sasuke: ", data_diri)
print("Key dictionary: ", data_diri.keys())
print("Value dictionary: ", data_diri.values())

Data Sasuke:  {'nama': 'Sasuke Uchiha', 'nim': 2221100025, 'alamat': 'Jl. Madara No. 10, Konohagakure, Hi no Kuni', 'usia': 17}
Key dictionary:  dict_keys(['nama', 'nim', 'alamat', 'usia'])
Value dictionary:  dict_values(['Sasuke Uchiha', 2221100025, 'Jl. Madara No. 10, Konohagakure, Hi no Kuni', 17])

Lakukan penggantian setiap value sesuai dengan data diri masing2!

In [72]:
data_diri = {}
data_diri['nama'] = 'Anggellieqque Elma Karadeit'
data_diri['nim'] = 201440042
data_diri['universitas'] = 'politeknik energi dan mineral akamigas'
data_diri['prodi'] = 'teknik instrumentasi kilang'
data_diri['usia'] = 20
print("Data Angel: ", data_diri)
print("Key dictionary: ", data_diri.keys())
print("Value dictionary: ", data_diri.values())

Data Angel:  {'nama': 'Anggellieqque Elma Karadeit', 'nim': 201440042, 'universitas': 'politeknik energi dan mineral akamigas', 'prodi': 'teknik instrumentasi kilang', 'usia': 20}
Key dictionary:  dict_keys(['nama', 'nim', 'universitas', 'prodi', 'usia'])
Value dictionary:  dict_values(['Anggellieqque Elma Karadeit', 201440042, 'politeknik energi dan mineral akamigas', 'teknik instrumentasi kilang', 20])