# **Varible**

In [1]:
nama = 'Sasuke'
umur = '25'

In [2]:
nama

'Sasuke'

In [3]:
type(nama)

str

In [4]:
umur

'25'

In [5]:
umur = 25

In [6]:
type(umur)

int

In [7]:
jomblo = True

In [8]:
type(jomblo)

bool

### Case 1

Buat sebuah variable `nama` dan `NRP` teman-teman lalu panggil di dalam jupyter-notebook!

### Case 2

Konversi program untuk memanggil variable `name` dan `NRP` yang sudah dibuat dalam jupyter-notebook ke file python atau `*.py` dengan nama file `variable.py`!

# **Arithmetic Operation**

In [9]:
a = 10
b = 5

a + b

15

In [10]:
c = a + b

In [11]:
c

15

c = c + 1

In [12]:
c += 1

In [13]:
c

16

In [14]:
c -= 5

In [15]:
c

11

In [16]:
e = 40
f = 20

print(e * f)
print(e / f)
print(e + f)
print(e - f)
print(e % f)
print(e ** 2)

800
2.0
60
20
0
1600

### Case 3

Konversi perhitungan **Luas** dan **Keliling** balok menjadi sebuah program yang berjalan di jupyter-notebook!

![title](https://rumusrumus.com/wp-content/uploads/2015/05/jawaban-soal-matematika-balok.png)

### Case 4

Konversi perhitungan luas dan keliling yang sebelumnya berjalan di jupyter-notebook menjadi sebuah file python atau `*.py` dengan nama masing-masing file `volume.py` dan `keliling.py`!

# **Tuple**

In [17]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )

print("Print all tuple1: ", tup1)
print("Print all tuple2: ", tup2)
print("Print tuple1 element-0: ", tup1[0])
print("Print tuple1 element-1 until 5: ", tup2[1:5])
print("Join two tuple: ", tup1 + tup2)

Print all tuple1:  ('physics', 'chemistry', 1997, 2000)
Print all tuple2:  (1, 2, 3, 4, 5, 6, 7)
Print tuple1 element-0:  physics
Print tuple1 element-1 until 5:  (2, 3, 4, 5)
Join two tuple:  ('physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5, 6, 7)

In [18]:
tup1[1]

'chemistry'

# **List**

In [19]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

print("Print all list: ", list1)
print("Print list element-0: ", list1[0])
print("Print list element-1: ", list1[1])
print("Print list element-1 until 3: ", list1[1:3])
print("Print list element-1 until 4: ",list1[1:4])
print("Print list element-2 until end: ",list1[2:])
print("Print list twice: ",list2 * 2)
print("Join two list: ", list1 + list2, "\n")

Print all list:  ['physics', 'chemistry', 1997, 2000]
Print list element-0:  physics
Print list element-1:  chemistry
Print list element-1 until 3:  ['chemistry', 1997]
Print list element-1 until 4:  ['chemistry', 1997, 2000]
Print list element-2 until end:  [1997, 2000]
Print list twice:  [1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]
Join two list:  ['physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5, 6, 7]

### Case 5

Uncomment cell dibawah ini lalu kemudian eksekusi dan amati perbedaanya!

List:

In [20]:
list1[1] = 'math'

In [21]:
list1[1]

'math'

In [22]:
list1

['physics', 'math', 1997, 2000]

Tupple:

In [23]:
# tup1[1] = 'math'

In [24]:
tup1[1]

'chemistry'

In [25]:
tup1

('physics', 'chemistry', 1997, 2000)

Simpulkan dan jawab pada sel dibawah ya! dan jangan lupa cell dibawah diganti ke format MD atau Markdown.

# **String**

In [26]:
g = 'Sasuke pergi ke pasar'

print(len(g))
print(g.split(' '))
print(g.lower())
print(g.upper())

21
['Sasuke', 'pergi', 'ke', 'pasar']
sasuke pergi ke pasar
SASUKE PERGI KE PASAR

### Case 6

Buat sebuah variable yang berisi string perkenalan nama dan umur, misal:

"Halo.. Nama saya sasuke, saya berusia 17 tahun!"

Print variable tersebut dan split menjadi sebuah list kemudian print juga yang versi List!

### **Convert String to Number**

In [27]:
h = '25'
i = int(h)

print(type(h))
print(i)
print(type(i))

<class 'str'>
25
<class 'int'>

### Case 7

Convert umur dalam List yang sebelumnya dibuat dan tersimpan dalam **Case 6** menjadi sebuah integer!

### Case 8

Convert **Case 6** dan **Case 7** menjadi sebuah program python dengan nama `list_string.py`!

# **Math Module**

In [28]:
import math

print(round(6.4))
print(round(6.8))
print(math.floor(6.8))
print(math.ceil(6.8))

6
7
6
7

### Case 9

![title](https://akupintar.id/documents/portlet_file_entry/20143/2+%284%29.png/d8907cd9-a23e-b777-4594-f3355af498cb?imagePreview=1)

Konversi perhitungan pytagoras berikut menjadi sebuah program yang berjalan di jupyter-notebook dan convert menjadi sebuah program python dengan extension `*.py` dengan nama `math_module_example`!

# **Dictionary**

+ jumlahnya 1: `{'key': value}`
+ jumlahnya lebih dari 1: `{'key1': value1, 'key2': value2, 'key3': {'key3.1': value31, 'key3.2': value32}}`

In [29]:
dict1 = {}
dict1['one'] = "This is one"
dict1[2] = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': {'pos': 'sales', 'pos': 'engineering'}}

print("Print dictionary on dict1['one']: ", dict1['one'])
print("Print dictionary on dict1[2]: ",dict1[2])
print("Print dictionary on dict1: ", dict1)
print("Print dictionary on tinydict: ", tinydict)
print("Print tinydict dictionary keys: ", tinydict.keys())
print("Print tinydict dictionary values: ", tinydict.values(), "\n")

Print dictionary on dict1['one']:  This is one
Print dictionary on dict1[2]:  This is two
Print dictionary on dict1:  {'one': 'This is one', 2: 'This is two'}
Print dictionary on tinydict:  {'name': 'john', 'code': 6734, 'dept': {'pos': 'engineering'}}
Print tinydict dictionary keys:  dict_keys(['name', 'code', 'dept'])
Print tinydict dictionary values:  dict_values(['john', 6734, {'pos': 'engineering'}])

In [30]:
dict1

{'one': 'This is one', 2: 'This is two'}

In [31]:
tinydict

{'name': 'john', 'code': 6734, 'dept': {'pos': 'engineering'}}

### Case 10

Buat sebuah data diri teman-teman ke sebuah dictionary dan print di jupyter notebook, Contoh:

```
{
    'nama': 'sasuke uchiha',
    'nim': 2221100025,
}
```

Lakukan penambahan key dan value dengan urutan sebagai berikut:
+ `'alamat': 'jl. Madara no. 10, Konohagakure, Hi no Kuni'`
+ `'usia': 17`

Lakukan penggantian setiap value sesuai dengan data diri masing2!